{# _musicmutt/templates/home.html_ #}

{% extends "layout.html"%}
{% block title %}MusicMutt{% endblock %}
{% block body %}
{{ super() }}
        <form method="POST" action="./playlist">
            <fieldset>
                <legend>What do you want to listen to?</legend>
                <p>
                    <label for="genre">Music Genre: </label>
                    <select name="genre" id="genre">
                        <option value="rock">Rock</option>
                        <option value="classical">Classical</option>
                        <option value="country">Country</option>
                        <option value="pop">Pop</option>
                        <option value="rap">Rap</option>
                        <option value="electronic">Electronic</option>
                        <option value="bluegrass">Bluegrass</option>
                        <option value="hiphop">Hip Hop</option>
                        <option value="jazz">Jazz</option>
                        <option value="blues">Blues</option>
                    </select>
                </p>
                <p>
                    <label for="number">Number of Tracks: </label>
                    <input type="number" name="tracks" id ="number" min="1" max="25">
                </p>
                <p>
                    <input type="submit" value="FETCH" class="button">
                </p>
            </fieldset>
        </form>
{% endblock %}
{% block script %} 
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}