{# _musicmutt/templates/layout.html_ #}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/cssrealrealskinny.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/cssrealskinny.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/cssskinny.css') }}">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/icon.png') }}">

    </head>
    <body>
        <div id="container">
            <div id="content">
    {% block body %}        
    <img id="logo" src="{{ url_for('static', filename='img/transparentlogoscaled.png') }}">
    <img id="ogol" src="{{ url_for('static', filename='img/transparenttextscaled.png') }}">
    {% endblock %}
            </div>
        </div>
    </body>
    {% block script %}
    {% endblock %}
</html>